*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  width: 100%;
}

.welcome-message{
  background-color: hsla(120, 79%, 34%, 0.795);
  padding: 20px;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 15px;
  color: white;
  max-width: 250px;
  text-align: center;
  margin-bottom: 20px;

}

.login-message{
  background-color: hsla(11, 90%, 37%, 0.795);
  padding: 20px;
  margin: 0;
  font-size: 1rem;
  border-radius: 15px;
  color: white;
  max-width: 250px;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
}